html,
body{
   margin: 0;
   font-family: 'Poppins', sans-serif;
   background-image: url(Images/bg1.jpg);
}

#wrapper div,#wrapper h2{
    display:flex;
    justify-content: center;
    
}

h2{
    color:#ffffff;
    letter-spacing: 1px;
}
input{
    border-radius: 5px;
    border: 2px solid black ;
    margin-top:30px;
    height:2em;
    width:250px;
    padding-left:10px;
}

input:active{
    border:none;
}
#wrapper{
    height:500px;
    width:400px;
    margin:200px auto;
    background-color:#0303036c;
    border-radius:10px;
    padding:30px;
}

button{
    margin-top:20px;
    background-color:#5c0404fb;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #ffffff;
}

button:hover{
    cursor:pointer;
}
#result{
    color:white;
    margin-top:20px;
    font-size:32px;
}

