div {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin : 160px auto;
}

span {
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

#aqua{
    background-color: aqua;
}

#black{
    background-color: black;
}

#brown{
    background-color: brown;
}

#cadetblue{
    background-color: cadetblue;
}

#chartreuse{
    background-color:chartreuse;
}

#orange{
    background-color: orange;
}

#purple{
    background-color: purple;
}

#restButton {
    color: white;
    width: 50px;
    height: 25px;
    display: block;  
    margin: 20px auto;   
    background-color: black;
    border-radius: 10%;
}



