body {
    background-image: url("https://images.unsplash.com/photo-1699891730676-037bed3c1bed?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
}


form {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}

#submit {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-size: 18px;
    background-color:rgb(55, 119, 121);
    color: white;
}

h1{
    font-size: 60px;
    margin-top: 10%;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#result {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: greenyellow;
    text-align: center;
}

#error {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: red;
}